#intro{
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: end;
    background-position: center;
    background-size: auto 100%;
}

#intro button{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 0;
}

.img1{ 
    background-image: url(../img/img1.png) !important;
    background-repeat: repeat !important;
    background-size: cover !important; 
}
.img2{ 
    background-image: url(../img/img2.png) !important;
    background-repeat: repeat !important;
    background-size: cover !important; 
}
.img3{ 
    background-image: url(../img/img3.png) !important;
    background-repeat: repeat !important;
    background-size: cover !important; 
}
.active{ 
    border:3px white solid !important; 
    background-color: transparent !important;
    color: white !important;
}